.content {
  margin-top: 40px;
}

.loadingError {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 16px;
  cursor: pointer;
  background-color: rgba(21, 57, 76, 0.97);
  border-radius: 10px;
}

.containerAvatar {
  display: flex;
  gap: 10px;
}

.defaultAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  border-radius: 50%;
}

.titleAuthor {
  color: grey;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
}

.authorName {
  color: white;
}

.containerAuthor {
  display: flex;
  flex-direction: column;
  color: grey;
  justify-content: space-between;
}

.ratingAuthor {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1px 12px;
  width: fit-content;
  background-color: #182936;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}

.noReviews {
  padding: 8px;
  background-color: rgba(21, 57, 76, 0.97);
  border-radius: 10px;
  font-size: 18px;
  color: #20bcc6;
  text-align: center;
}