.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 20px;
}

.loadingError {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}